/* about styles */

.leftAbout, .rightAbout {
    img {
        margin: 0 auto;
        align-self: center;
        border: 10px solid $accentColor;
        width: 100%;
    }
    p {
        margin: 20px 75px 20px 0;
        &>a{
            color: darken($accentColor,20);
            // color: rgb(2, 135, 158);
        }
    }
}

.leftAbout {
    width: 66.66%;
    padding-left: 55px;
    div.twoButtons {
        justify-content: space-around;
        width: 80%
    }
    button {
        @include buttons(12px, 30px, $darkColor, $lightColor, $accentColor);
        a {
            text-decoration: none;
            color: $darkColor;
        }

        &:hover {
            @include hover($accentColor, $darkColor, $accentColor, 1s);
        }
    }
}

.aboutInfo, .aboutInfoFooter {
    padding-left: 0px;
    li {
        display: flex;
        justify-content: space-between;
        width: 66%;
        font-weight: 700;
        line-height: 2;
    }
    span {
        justify-self: flex-start;
        width: 66%;
        color: lighten($darkColor, 40);
        font-weight: 400;
    }
}

.rightAbout, .followMe {
    
    nav {
        justify-content: center;
    }
    a {
        @include buttons(6px, 7.8px, $darkColor, $lightColor, $accentColor);
        margin: 5px;
        &:first-child {
            padding: 6.3px 8.2px;
        }
        &:nth-child(2) {
            padding: 6px 9px;
        }
        &:hover {
            @include hover($accentColor, $darkColor, $accentColor, 1s);
        }
    }
}

.rightAbout {
    width: 33.33%;
}

.skillsHeader {
    margin-left: 55px;
}

.skills {
    margin-bottom: 120px;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: space-around; 
}

h3 {
    &::after {
        background: $accentColor;
        left: -26px;
        bottom: 18px;
        content: "";
        display: block;
        height: 15px;
        width: 15px;
        position: relative;
        border-radius: 50%;
    }
}

.skill { 
    align-items: center;
    width: 20%;
    i {
        font-size: 3rem;
        max-height: 82px;
        box-shadow: 2px 2px 24px lighten($darkColor, 50);
        @include buttons(15px, 15px, $darkColor, $lightColor, $lightColor);
    }
    h6 {
        margin-top: 18px;
    }
    
}

.skills>.skill>i {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(140deg, transparent 25%,
        rgba(255,255,255,0.2) 40%, transparent 44%),
        linear-gradient(to bottom,  $accentColor, rgb(2, 135, 158));
    -webkit-background-clip: text;
    background-clip: text;
}

.hobbies {
    padding: 0 0 70px 0;
    h3 {
        padding: 35px 0 0 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        li {
            border: 2px solid darken($lightColor, 30);
            border-radius: 50%;
            height: 100px;
            width: 100px;
            padding: 20px;
            margin: 5px;

            &:first-child {
                margin-left: 0;
            }

            &:nth-child(3), &:nth-child(4) {
                padding: 15px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }
    h6 {
        text-transform: uppercase;
        margin: 5px 0;
    }
    i {
        color: $accentColor;
        font-size: 2rem;
    }
}