/* footer styles */

footer {
    p {
        color: darken($lightColor, 20);
        text-align: left;
        padding: 10px 5px;
    }
    
    .aboutInfoFooter li{
        width: 90%;
        text-align: left;
        span {
            color: darken($lightColor, 40);
        }
    }

    h6 {
        color: $accentColor;
        margin-left: 25px; 
        text-align: left;
        min-width: 60px;
        font-size: 1.1rem;
        &::after {
            background: $lightColor;
            left: -26px;
            bottom: 15px;
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            position: relative;
            border-radius: 50%;
        }
    }
    .copyright {
        background: $accentColor;
        color: $darkColor;
        span {
            color: $lightColor;
        }
        margin-bottom: 0;
    }

    .followMe {
        justify-content: space-between;
        align-items: baseline;
        h6 {
            margin-top: 20px;
            text-align: left;
            width: 126px;
        }
        nav {
            width: 100%;
        }
        a {
            color: $lightColor;
            background: $darkColor;
        }
        margin-bottom: 70px;
    }
}

.backToTop {
    @include buttons(5px, 5px, $darkColor, $accentColor, lighten($darkColor, 40));
    &:hover {
        @include hover($lightColor, $darkColor, $accentColor, 1s);
    }
    margin: 5px;
    position: fixed;
    padding: 5px 8px;
    bottom: 15px;
    right: 10px;
    z-index: 4;
}

.contactMe {
    color: darken($lightColor, 20);
    width: 40%   
}
.footerRight {
    width: 60%;
}

.footerRight, .contactMe {
    h6 {
        margin: 70px 0 10px 28px;
    }    
}

.copyright {
    text-align: center;
}