/* home styles */

.headerRow {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    h4 {
        font-weight: 700;
    }
    h4 span{
        color: $accentColor;
        background: lighten($darkColor,20);
        border: 5px solid lighten($darkColor,20);
        border-radius: 50%;
        padding: 0 5px;
        margin-right: 2px;
    }
    nav a {
        text-decoration: none;
        color: $darkColor;
        @include buttons(5px, 5px, $darkColor, $lightColor, $lightColor);
        &:hover {
            @include hover($lightColor, $accentColor, $lightColor, 1s);
        }
    }
    .hamburger {
        @include buttons(5px, 5px, $darkColor, $accentColor, lighten($darkColor, 40));
        &:hover {
            @include hover($lightColor, $darkColor, $accentColor, 1s);
        } 
        position: fixed;
        right: 10px;
        top: 10px;
    }
    input#toggle, label[for="toggle"]{
        display: none;
    }
}

#home {
    background-image: linear-gradient(rgba(132, 231, 249, 0.9), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1503642551022-c011aafb3c88?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    overflow: hidden;
}

.home {
    width: 100%;
    height: calc(100vh - 100px);
    transform: translateY(-10px);
    justify-content: flex-start;
    align-items: center;
    img.portrait {
        // -webkit-clip-path: circle(50% at 50% 50%);
        // clip-path: circle(50% at 50% 50%);
        border: 5px solid lighten($darkColor, 20);
        width: 100%;
        border-radius:50%
    }
    img.shadow{
        position: absolute;
        bottom: -37px;
        left: -25%;
        max-width: 150%;
        height: 60px;
    }
    button {
        @include buttons(12px, 30px, $lightColor, $darkColor, $darkColor);
        &:hover {
            @include hover($lightColor, $darkColor, $darkColor, 1s);
        }
    }
}

h1 {
    font-family: $font2;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 5px;
    span {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.heroText h6 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 5px;
}

.heroImg {
    justify-content: center;
    max-width: 25%;
    margin-right: 70px;
    position: relative;
}