/* home styles */

.headerRow {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    h4 {
        font-weight: 700;
    }
    h4 span{
        color: $accentColor;
        background: lighten($darkColor,20);
        border: 5px solid lighten($darkColor,20);
        border-radius: 50%;
        padding: 0 5px;
        margin-right: 2px;
    }
    nav a {
        text-decoration: none;
        color: $darkColor;
        @include buttons(5px, 5px, $darkColor, $lightColor, $lightColor);
        &:hover {
            @include hover($lightColor, $accentColor, $lightColor, 1s);
        }
    }
    .hamburger {
        @include buttons(5px, 5px, $darkColor, $accentColor, lighten($darkColor, 40));
        &:hover {
            @include hover($lightColor, $darkColor, $accentColor, 1s);
        } 
        position: fixed;
        right: 10px;
        top: 10px;
    }
    input#toggle, label[for="toggle"]{
        display: none;
    }
}

#home {
    // background: url('https://images.unsplash.com/photo-1503642551022-c011aafb3c88?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') ;
    // background-size: contain;
    background: $accentColor;
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background: -webkit-linear-gradient(rgba(132, 231, 249, 0.9),  yellow);
    // -webkit-linear-gradient(top, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%), 
    
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    // background: -webkit-linear-gradient(top, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5));
    /* Firefox 3.6 - 15 */
    background: -moz-linear-gradient(top, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5));
    /* Opera 11.1 - 12 */
    background: -o-linear-gradient(top, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5));
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background: linear-gradient(to bottom, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5)), url('https://images.unsplash.com/photo-1503642551022-c011aafb3c88?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');

    background:-webkit-linear-gradient(top, rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5)), url('https://images.unsplash.com/photo-1503642551022-c011aafb3c88?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') center no-repeat;

    
    background-size: cover;
    min-height: 500px;
    // background-attachment: fixed;

    // background-image: linear-gradient(rgba(0,0,0, 0.5) 5%, rgba(132, 231, 249, 0.9) 55%,  rgba(0,0,0, 0.5)), url('https://images.unsplash.com/photo-1503642551022-c011aafb3c88?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    /* Ultimate Fallback to just define color */
    /* In this case, defined in the WordPress configuration in Admin -> Appearance -> Customize -> Menu -> Background */
    /*    so not redefined here. */
    /* background: #001958; */
    /* IE 9 (could be data URI, or could use filter) */
    
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    
    // overflow: hidden;
}

.home {
    width: 100%;
    height: calc(100vh - 100px);
    transform: translateY(-10px);
    justify-content: flex-start;
    align-items: center;
    img.portrait {
        // -webkit-clip-path: circle(50% at 50% 50%);
        // clip-path: circle(50% at 50% 50%);
        // border: 5px solid lighten($darkColor, 30);
        border: 5px solid rgba(0,0,0, 0.6);
        width: 100%;
        border-radius:50%
    }
    img.shadow{
        position: absolute;
        bottom: -37px;
        left: -25%;
        max-width: 150%;
        height: 60px;
    }
    button {
        @include buttons(12px, 30px, $lightColor, $darkColor, $darkColor);
        &:hover {
            @include hover($lightColor, $darkColor, $darkColor, 1s);
        }
    }
}

h1 {
    font-family: $font2;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 5px;
    span {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.heroText h6 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 5px;
}

.heroImg {
    justify-content: center;
    max-width: 25%;
    margin-right: 70px;
    position: relative;
}