/* portfolio styles */

.portfolio, .blog {
    flex-wrap: wrap;
}
.portfolio {
    justify-content: space-around;
    margin: 15px 15px 115px 15px;
}

.project, .blogPost {
    flex-wrap: wrap;
    img {
        max-width: 100%;
        height: auto;
        box-shadow: 2px 2px 24px lighten($darkColor, 50);
    }

    h5 {
        margin: 10px 0;
        font-family: $font2;
        font-size: 1.2rem;
    }

    p {
        margin-top: 0;
        font-family: $font1;
    }

    button {
        @include buttons(6px, 15px, $darkColor, $lightColor, $accentColor);
        &:hover {
            @include hover($accentColor, $darkColor, $accentColor, 1s);
        }
    }
}

.project {
    margin: 60px 0;
    width: calc(33.33% - 30px);
    justify-content: space-between;
    .twoButtons {
        justify-content: space-between;
        a {
            margin-right: 5px;
            width: 100%;
            &:last-child {
                margin-right: 0;
            }
        }
        button {
            width: 100%;
        }
    }
}

.dark {
    padding: 70px 0;
    button {
        @include buttons(12px, 30px, $darkColor, $accentColor, $accentColor);
        &:hover {
            @include hover($lightColor, $darkColor, $accentColor, 1s);
        }
    }

    h2 {
        margin-top: 0;
    }
}

.tags {
    h6 {
        margin-top: 25px 0;
    }
}

.tag {
    span {
        margin-left: 5px;
        margin-right: 15px;
        color: $accentColor;
    }
    font-style: italic;
}

.projectInfo {
    justify-content: space-between;
    p {
        min-height: 135px;
    }
}



