/* about styles */

.leftAbout, .rightAbout {
    // width: 50%;
    // flex-grow: 1;
    img {
        margin: 0 auto;
        justify-self: center;
        align-self: center;
        border: 10px solid $accentColor;
        width: 100%;
    }
    p {
        margin: 20px 75px 20px 0;
        // padding-left:55px;
    }
}

.leftAbout {
    width: 66.66%;
    padding-left: 55px;
    div.twoButtons {
        justify-content: space-between;
        width: 80%
    }
    button {
        @include buttons(10px, 20px, $darkColor, $lightColor, $accentColor);
        width: 100%;
    }
}

.aboutInfo {
    // align-items: space-between;
    padding-left: 0px;
    li {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }
    span {
        // margin-left: 20px;
        justify-self: flex-start;
        width: 5%;
        color: lighten($darkColor, 40);
    }
    
}

.rightAbout {
    width: 33.33%;
    nav {
        justify-content: center;
    }
    a {
        @include buttons(5px, 5px, $darkColor, $lightColor, $accentColor);
        margin: 5px;
    }
}

.skillsHeader {
    margin-left: 55px;
    &::after{
    background: $accentColor;
    // left: -35px;
    left: -26px;
    bottom: 18px;
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 50%;
    }
}

.skill {
    font-size: 3rem;
    @include buttons(15px, 15px, $darkColor, $lightColor, $accentColor);
}