/* home styles */


.headerRow {
    justify-content: space-between;
    align-items: baseline;
    h4 span{
        color: $accentColor;
        background: lighten($darkColor,20);
        border: 5px solid lighten($darkColor,20);
        border-radius: 50%;
    }
    nav a {
        text-decoration: none;
        color: $darkColor;
        @include buttons(5px, 5px, $darkColor, $lightColor, $lightColor);
    }
}

#home {
    background: $accentColor;
    min-height: 500px;
}

.home {
    width: 100%;
    height: 500px;
    transform: translateY(-10px);
    justify-content: flex-start;
    align-items: center;
    img {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }
    button {
        @include buttons(10px, 20px, $lightColor, $darkColor, $darkColor);
    }
}